@charset "utf-8";

/* Webフォント */
/* IE */
/*@font-face {
font-family: 'SourceSansPro-Light';
src: url('../font/SourceSansPro-Light.otf') format("opentype");
}*/
/* Firefox, Opera, Safari */
@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../font/SourceSansPro-Light.otf') format("opentype");
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'SourceSansPro-Light',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    Meiryo, 'メイリオ', 'Lucida Grande', 'sans-serif';
}

body {
    font-size: 8.42px;
    color: #468CD0;
    line-height: 140%;
    width: 96%;
    /*letter-spacing: 0.07em;*/
}

body .popWrap {
    position: absolute;
    z-index: 10;
    /*height:  150%;*/
    /*width: 104%;*/
    /*left: -10px;*/
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #000;
    opacity: 0.6;
    /*margin: 0 auto;*/
}

body.invert {
    background-color: #0055be;
    color: #468CD0;
}

img {
    max-width: 100%;
    height: auto;
    /*margin: 0 auto;*/
    display: block;
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight: normal;
}

a {
    color: #468CD0;
    text-decoration: none;
}

.invert a {
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
    color: #468CD0;
    opacity: 0.8;
}

input, textarea {
    -webkit-tap-highlight-color: transparent;
    border: 1px solid #70a0db;
    font-size: 9.7px;
}

::-webkit-input-placeholder {
    color: #468CD0;
}

:-moz-placeholder {
    color: #468CD0;
}

button, input[type="submit"] {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    overflow:visible;
    cursor:pointer;
}

button, input[type="submit"] {
    -webkit-appearance: none;
}


html body .sp_none {
    display: none;
}


/*******************************************************/
/*header*/
header {
    font-size: 10.56px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    /*z-index: 100;*/
    /*border-bottom:  1px solid #70a0db;*/
}

.invert header {
    background-color: #0055be;
    color: #ffffff;
    /*    border-bottom:  1px solid #ffffff;*/
}


.headerContents {
    padding: 20px 0px 0px 11px;
    width: 100%;
    margin-left: 1px;
}

.headerContents img.siteLogo {
    display: inline-block;
    width: 20%;
}

.headerText {
    overflow: hidden;
    font-size: 11.7px;
    margin: 8px 3% 0;
    line-height: 125%;
}

.tellNumber {
    font-size: 10.4px;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 48px;
    left: 85px;
    letter-spacing: 0.9px;
}

.faxNumber {
    font-size:8.32px;
    margin-left: 5px;
    letter-spacing: 0.7px;
}

#menuSelect {
    position: absolute;
    top: 14px;
    right: 13px;
    width: 35px;
}

.ui-menu {
    background-color: #ffffff;
    position: absolute;
    width: 104%;
    right: -2%;
    z-index: 1000;
}

.invert .ui-menu {
    background-color: #0055be;
    position: absolute;
    width: 104%;
    right: -2%;
    z-index: 1000;
}

.ui-menu-item {
    border-top:  1px solid #70a0db;
    font-size: 22.83px;
    padding: 25px 30px;
}

a#ui-id-2 {
    padding: 20px 200px 20px 0px;
}
a#ui-id-3 {
    padding: 20px 120px 20px 0px;
}
a#ui-id-4 {
    padding: 20px 165px 20px 0px;
}
a#ui-id-5 {
    padding: 20px 225px 20px 0px;
}
a#ui-id-6 {
    padding: 20px 225px 20px 0px;
}
a#ui-id-7 {
    padding: 20px 225px 20px 0px;
}

.ui-menu-item:last-child {
    border-bottom:  1px solid #70a0db;
}

.invert .ui-menu-item {
    border-top:  1px solid #ffffff;
}

.invert .ui-menu-item:last-child {
    border-bottom:  1px solid #ffffff;
}

/*menuTrans*/
.menu_icon {
    position: relative;
    width: 31px;
    height: 24px;
    margin-top: 6px;
    margin-left: -5px;
}

.menu_P {
    position: absolute;
}

#p01 {
    top: 0;
    width: 31px;
    height: 3px;
}

#p02 {
    top: 50%;
    margin-top: -1.5px;
    width: 31px;
    height: 3px;
}

#p03 {
    bottom: 0;
    width: 31px;
    height: 3px;
}
/*******************************************************/
/*container*/
#container {
    width: 96%;
    /* margin: 0 auto; */
    padding-top: 25px;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
}

.invert #container {
    background-color: #0055be;
}

#containerWrap {
    position: absolute;
    height: 100%;
    width: 104%;
    top: 0px;
    left: -2%;
    z-index: 100;
    background-color: #ffffff;
    opacity: 0.8;
    display: none;
}

.invert #containerWrap {
    background-color: #ffffff;
    opacity: 0.2;
}
/*******************************************************/
/*index*/
.indexBox {
    margin: 0px 1% 0 1.2%;
}

.top_readImage {
    position: relative;
    margin: -5px 0 0 0;
    /* margin-left: 1.1%; */
}

.top_readImage img {
    width: 92%;
}

.top_learn_more {
    position: absolute;
    bottom: -2px;
    right: 12px;
    font-size: 9.40px;
    width: 55px;
    margin-right: 5px;
    overflow: hidden;
    text-align: left;
    border-bottom: 1.1px dotted #468cd0;
}

.top_learn_more img {
    float: right;
    width: 5px;
    margin: 3px 0 0 5px;
}


.index_headline {
   font-size: 26px;
    margin: 35px 11px 41px 10px;
    line-height: 185%;
    letter-spacing: 1px
}

   .index_contentsBoxTop {

       width: 100%;
       margin: 0 auto;
       margin-top: 11px;
       margin-left: 13px;

}

.index_contentsBoxBottom {

}

.index_content {
    /*display: inline-block;*/
    /*width: 160px;*/
    /*vertical-align: top;*/


    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-right: 4.33333%;
}
.index_content:last-child {
    margin-right: 0;

}
.index_content:hover {
    text-decoration: none;
}

.index_content img {
    /* margin-bottom: 6px; */
}

/*logoサイズ*/
.index_content.Num1 img {
    width: 98px;
    /*margin: 7px 0 4px 10px;*/
}
.index_content.Num2 img.open {
    width: 177px;
    margin-top: -8px;
    /*margin: -18px 15px 5px -2px;*/
}
.index_content.Num3 img {
    width: 172px;
    /*margin: 4px 4px -1px 11px;*/
}
.index_content.Num4 img {
    width: 188px;
    /* margin: 0px 0px 0px -2px; */
    margin-top: 15px;
    margin-bottom: 9px
}
.index_content.Num5 img {
    width: 181px;
    /* margin: 5px 0px 0px 10px; */
    margin-top: 10px;
    margin-left: -2px;
    margin-bottom: 11px;
}
.index_content.Num6 img {
    width: 131px;
    /* margin: 8px 0px -2px -3px; */
    margin-left: -3px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.index_content.Num7 img {
    width: 108px;
    /*margin: 5px 0px -6px 10px;*/
}
.index_content.Num8 img {
    width: 188px;
    /* margin: 0px 0px 0px -5px; */
    margin-top: -4px;
    margin-left: -3px;
    margin-bottom: 7px;
}
.index_content.Num9 img {
    width: 154px;
    /* margin: 11px 0px -3px 11px; */
    margin-top: 14px;
    margin-bottom: 15px;
}
.index_content.Num10 img {
    width: 206px;
    /* margin: 0px 0px 0px -3px; */
    margin-left: -5px;
    margin-top: 4px;
    margin-bottom: 9px;
}

.index_ContentText{
   font-size: 10px;
}
.index_ContentText.n1{
    margin: 4px 0 0 0px;
}
.index_ContentText.n2{
    margin: 5px 0 0px 0px;
}
.index_ContentText.n3{
    margin: 3px 0 0 0px;
}
.index_ContentText.n4{
    margin: 5px 0 0 0px;
    }.index_ContentText.n5{
        margin: 5px 0 0 0px;
    }
    .index_ContentText.n6{
        margin: 5px 0 0 0px;
    }
    .index_ContentText.n7{
        margin: 5px 0 0 0px;
    }
    .index_ContentText.n8{
        margin: 5px 0 0 0px;
    }
    .index_ContentText.n9{
        margin: 8px 0 0px 1px;
    }
    .index_ContentText.n10{
        margin: 5px 0 0 0px;
    }
    /*******************************************************/
    /*statement*/
    .statementBox {
        margin: 0px 1% 0 3%;
        height: 827px;
    }

    .statementBox {
        color: #ffffff;
    }

    .statement_content {
        font-size: 14.3px;
        margin-top: 35px;
        line-height: 210%;
    }

    .statement_content_sp {
        font-size: 12px;
        margin-top: 35px;
        line-height: 210%;
    }

    .statement_text {
        margin: 30px 0;
    }

    .statement_text.n1 {
        width: 307.5px;
    }
    .n1_sp {
        width: 85.3%;
        margin-top: -8px;
        margin-bottom: 26px;
        padding-left: 11px;
    }
    .statement_text.n2 {
        width: 159.9px;
    }
    .n2_sp {
        width: 44%;
        margin-top: 29px;
        margin-bottom: 25px;
        padding-left: 11px;
    }
    .statement_text.n3 {
        width: 282.08px;
    }
    .n3_sp {
        width: 78%;
        margin-top: 28px;
        padding-left: 10.5px;
    }
    .statement_text.n4 {
        width: 183.68px;
    }
    .n4_sp {
        width: 51%;
        margin-top: -1px;
        margin-bottom: 20px;
        padding-left: 11px;
    }
    .statement_text.n5 {
        width: 340.3px;
    }
    .n5_sp {
        width: 95%;
        margin-top: 28px;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    .statement_text.n6 {
        width: 332.92px;
        margin-bottom: 110px;
    }
    .n6_sp {
        width: 90.6%;
        margin-top: 29px;
        margin-bottom: 20px;
        padding-left: 11px;
    }
    .statement_underText {
        font-size: 23.65px;
        margin-top: 35px;
        line-height: 200%;
        width: 387px;
    }
    .statement_underText_sp {
        font-size: 23.65px;
        margin-top: 27px;
        padding-left: 9.5px;
        line-height: 200%;
        width: 81%;
    }
    .statement_logoRead {
        font-size: 22px;
        margin: 35px 0 7px;
        padding: 0 173px 120px 0;
    }
    .statement_logoRead_sp {
        font-size: 20.6px;
        padding-left: 9.5px;
        width: 48%;
    }

    /*******************************************************/
    /*business*/
    .businessBox {
        margin: -2px 1% 28px 6%;
        font-weight: 100;
    }

    .business_headline {
        font-size: 9.5px;
        line-height: 200%;
        letter-spacing: 0.1em;
    }
    .business_headline img {
      padding-top: 5px;
      width: 98.5%;
      margin-left: -3px;
    }
    .business_contentsHead {
        font-size: 11.5px;
        font-weight: bold;
        line-height: 150%;
        width: 315px;
        border-bottom: 1.1px solid #468CD0;
        padding: 26px 0 4px;
        margin-left: 1px;
    }

    .business_contentsWrap {
        overflow: hidden;
    }

    .business_contentsBox {
        width: 100%;
    }

    .business_contentsBox.left {
        float: left;
    }

    .business_contentsBox.right {
        float: right;
    }

    .business_contentTitle {
        font-size: 11.5px;
        line-height: 150%;
        letter-spacing: 0.1em;
        margin: 10px 0 5px;
    }

    .business_content {
        font-size: 9.5px;
        letter-spacing: 0.12em;
        line-height: 170%;
        margin-bottom: 0px;
    }

    .business_readmore {
        font-size: 16.5px;
        border-bottom: 1.1px dotted #468CD0;
        line-height: 140%;
    }

    .business_readmore_sp {
        margin: 0px 0px 10px -1px;
        width: 107px;
    }

    .business_title{
        margin: -5px 0 0 -1px;
    }

    .business_title.n1 {
        width: 114px;
    }

    .business_title.n2 {
        width: 142px;
        /*    margin: -9px 0 0 -1px;*/

    }
    .business_title.n3 {
        width: 178px;
        margin-top: -13px;
    }

    .business_contentTitle.n1 {
        width: 100%;
    }

    .business_content.n1 {
        width: 100%;
    }

    .business_contentTitle.n2 {
        width: 125px;
        margin: 15px 0 0 -1px;
    }

    .business_content.n2 {
        width: 100%;
        margin-top: 8.5px
    }

    .business_contentTitle.n3 {
        width: 112px;
        margin: 15px 0 0 -1px
    }

    .business_content.n3 {
        width: 100%;
        margin-top: 8px;
    }

    .business_contentTitle.n4 {
        width: 60%;
        margin: 18px 0 0 -1px
    }
    .business_content.n4 {
        width: 100%;
        margin-top: 8px;
    }
    .business_contentTitle.n5 {
        width: 54%;
        margin: 0 0 0 -1px
    }
    .business_content.n5 {
        width: 100%;
        margin-top: 8px;
    }
    .business_contentTitle.n6 {
        width: 100px;
        margin: 15px 0 0 0;
    }
    .business_content.n6 {
        width: 317px;
        margin: 8px 0 9px 0;
    }
    .business_contentTitle.n7 {
        width: 98px;
    }
    .business_content.n7 {
        width: 100%;
        margin: 8px 0 4px 0;
    }
    .business_contentTitle.n8 {
        width: 107px;
        margin: 15px 0 0 -1px
    }
    .business_content.n8 {
        width: 100%;
        margin: 7px 0 3px 0;
    }
    .business_contentTitle.n9 {
        width: 221px;
        margin: 15px 0 0 -1px;
    }
    .business_content.n9 {
        width: 316px;
        margin-top: 9px;
    }
    
/*
	.business_button{
   		transition: all 0.3s ease 0s; 
	    background-image: url("../img/sp_business/button_160823.png");
	    background-repeat: no-repeat;
	    background-size: 3.2%,100%;
	    width: 451px;
	    height: 62px;
	}
*/


    /*******************************************************/
    /*company*/
    .companyBox {
        font-size: 8px;
        margin: 0px 2% -22px 2%;
        line-height: 195%;
        letter-spacing: 1.7px;
    }

    .company_title {
        font-size: 19px;
        margin: -4px 0 33px;
    }

    .company_contents {
        width: 100%;
        margin-top: -15px;
    }

    .company_detail {
        padding: 0px 0px 0 0;
        width: 100%;
    }

    .company_leftContentsBox {
        overflow: hidden;
    }

    .company_rightContentsBox {
        padding: 0px 0px 0px 0;
        width: 100%;
        overflow: hidden;
        line-height: 190%;
    }

    .company_Content_title {
        float: left;
        width: 30%;
        /*margin-left: -7px;*/
    }
    .company_Content_title.bank {
        letter-spacing: 0px;
    }

    .company_Content {
        float: right;
        width: 70%;
    }

    .company_Content_Under {
        float: right;
        width: 70%;
    }

    #map_canvas {
        zoom: 0.5;
        width: 632px !important;
        height: 341px !important;
        margin: 24px 0 0 2px;
    }

    #map_canvas2 {
        zoom: 0.5;
        width: 630px !important;
        height: 343px !important;
        margin: 15px 0 0 6px;
    }

    .asiaMap {
        margin: 25px 0px 0px;
        padding-bottom: 50px;
        overflow: hidden;
        height: 364px;
        letter-spacing: 1.7px;
        /*color: #000;*/
    }

    .asiaMapImage {
        position: absolute;
    }

    .asiaMap p {
        padding-bottom: 0;
        margin: -4px 0 0 -4px;
        letter-spacing: 1.7px;
    }

    .asiaArea_left {
        width: 100%;
        padding: 0px 58px 0 0;
        /*padding-bottom: 15px*/
    }

    .asiaArea_middle {
        width: 100%;
        padding: 0px 58px 0 0;
    }

    .asiaArea_right {
        width: 100%;
        padding: 0px 58px 0 0;
    }

    div.newLogoCon {
    	margin-left: 4px;
    }

    .newLogoCon p {
    	margin-left: -4px;
    }

    div.newLogoCon_left {
    	margin-top: 6px;
    }

    .seezooLogo img{
	    width: 22%;
	    margin-top: 20px;
    }

    div.newLogoCon_middle {
    	margin-top: 48px;
    }

    .ocHwLogo img {
	    width: 56%;
	    margin-top: 20px;
    }

    div.newLogoCon_right {
    	margin-top: 48px;
    	margin-bottom: 60px;
    }

    .poeredByOC img {
	    width: 56%;
	    margin-top: 20px;
    }


    /*******************************************************/
    /*recruit*/
    .recruitBox {
        color: #ffffff;
        font-size: 9.5px;
        margin: -8px 1% 0 3%;
        background-image: url('../img/recruit_background_sp.png');
        background-repeat: no-repeat;
        background-position: 198px 0;
        background-size: 143px;
        padding-left: 11px;
    }

    .recruit_readImage {
        width: 58%;
        padding-top: 3px;
    }
    .recruit_readImage1 {
        width: 48%;
        margin-left: -1px;
    }
    .recruit_readImage2 {
        width: 47%;
        padding-top: 19px;
    }
    .recruit_readImage3 {
        width: 50%;
        padding-top: 21px;
        /* padding-left: 0px; */
        margin-left: -1px;
    }
    .recruit_readImage4 {
        width: 50%;
        padding-top: 26px;
        margin-left: -1px;
    }
    .recruit_contentImage1 {
        width: 95%;
        margin-top: -2px;
    }
    .recruit_contentImage2 {
        width: 95%;
    }
    .recruit_contentImage3 {
        width: 95%;
        margin-top: 8px;
    }
    .recruit_contentImage4 {
        width: 94%;
        padding-top: 2px;
    }

    .recruit_headline {
        /* font-size: 28.6px; */
        margin: 24px 0 25px -1px;
        line-height: 180%;
        width: 54%;
    }

    .recruit_headline_2 {
        /* font-size: 28.6px; */
        margin: -14px 0 25px 0px;
        line-height: 180%;
        width: 52%;
    }

    .recruit_contentTitle {
        font-size: 28.6px;
        margin: -2px 0 6px;
    }

    .recruit_contentTitle.n1 {
        width: 211px;
    }
    .recruit_contentTitle.n2 {
        width: 213px;
    }
    .recruit_contentTitle.n3 {
        width: 291px;
    }
    .recruit_contentTitle.n4 {
        width: 291px;
    }

    .recruit_content {
        line-height: 180%;
    }

    .recruit_link {
        font-size: 28.6px;
        display: block;
        margin: 25px 0 0px;
        padding-bottom: 25px;
        width: 100%;
        height: 29px;
        position: relative;
    }

    a.recruit_link:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .recruit_link img {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 94%;
    }
    .copyright_image {
        width: 51%;
        display: inline;
        margin-top: -1px;
    }

    /*******************************************************/
    /*application*/
    .applicationBox {
        /*color: #468CD0;*/
        font-size: 9.7px;
        font-weight: 100;
        margin: 0px 1% 0 -2%;
    }

    .application_title {
        font-size: 15.09px;
        margin: -1px 0 30px 10px;
        letter-spacing: 2.5px;
    }

    .application_type label{
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0px;

        cursor: pointer;
        padding-left: 11px;
        padding-top: 0px;
        position: relative;
        top: -6px;
    }

    .application_work label {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 15px;
        cursor: pointer;
        position: relative;
        top: 11.2px;
        left: 11px;
    }

    .styledRadio {
        display: inline-block;
    }

    .label {
        /* height: 30px; */
        /* vertical-align: middle; */

        position: relative;
        top: -4px;
        left: 4.2px;
        letter-spacing: 1.95px;
    }

    .application_banner {
        display: inline-block;
        position: relative;
        height: 31px;
        margin-left: 10px;
        margin-top: 34px;
    }

    .application_moreInfomation {
        font-size: 11.25px;
        position: absolute;
        left: 2px;
        top: -19px;
    }

    #application input#name,
    #application input#mail {
        letter-spacing: 1.5px;
        width: 92.5%;
        margin-left: 11px;
    }

    #application input#tel {
        letter-spacing: 1.4px;
        padding-bottom: 8px;
        margin-top: -6px;
        margin-left: 11px;
        width: 92.5%;
    }

    .application_label {
        font-size: 5.93px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        padding: 4px 8px;
    }

    .inputBox label {
        display: block;

        margin: 5px 11px 5px;
    }

    .inputBox0 label {
        display: block;
        margin: 10px 11px 5px;
    }

    .inputBox1 label {
        display: block;
        margin: 11px 11px 7px;
        padding: 0px 1px 2px;
        letter-spacing: 1.5px;
    }

    .inputBox2 label {
        display: block;
        margin: 8px 10px 8px;
        padding: 0px 1px 2px;
        letter-spacing: 2px;
    }

    .inputBox3 label {
        display: block;
        margin: 4px 8px 4px;
        padding: 0px 1px 2px;
    }

    .inputBox4 label {
        display: block;
        margin: 13px 9px 8px;
        padding: 0px 1px 0;
    }

    .label1 {
        position: relative;
        top: -11px;
        left: 10px;
        font-size: 10.75px;
        letter-spacing: 0.45px;
    }

    .label2 {
        position: relative;
        top: -7px;
        left: 10px;
        font-size: 10.75px;
        letter-spacing: 0.5px;

    }

    #application #textContent {
        height: 195px;
        padding: 4.6px 8px 8px;
        margin: -5px 11px 1px;
        letter-spacing: 1.9px;
        width: 92.5%;
    }

    .file {
        display: inline-block;
        overflow: hidden;
        position: relative;
        padding: 5px 20px;
        background-color: #0055be;
        color: #ffffff;
        font-size: 13.86px;
        margin: 0 10px -5px;
    }

    .file input[type="file"] {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        font-size: 100px;
        cursor: pointer;
    }

    .application_file1 {
        display: inline-block;
        overflow: hidden;
        position: relative;
        padding: 1px 7px;
        background-color: #0055be;
        color: #ffffff;
        font-size: 7.86px;
        margin: 0 10px 7px;
        top: -1px;
        left: 6px;
        /* width: 90px; */
        letter-spacing: 1.45px;
    }

    .application_file2 {
        display: inline-block;
        overflow: hidden;
        position: relative;
        padding: 1px 7px;
        background-color: #0055be;
        color: #ffffff;
        font-size: 7.86px;
        margin: 0 10px 7px;
        top: 3px;
        left: 6px;
        /* width: 90px; */
        letter-spacing: 1.45px;
    }

    .application_file1 input[type="file"], .application_file2 input[type="file"] {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        font-size: 100px;
        cursor: pointer;
    }

    .upload_file {
        display: none;
    }

    .application_notes {
        font-size: 9.5px;
        margin: 10px 11px;
        padding-bottom: 0px;
    }

    input[type="submit"] {
        font-size: 9.51px;
        padding: 4px 44px;
        background-color: #0055be;
        color: #ffffff;
        margin-top: 5px;
        margin-left: 11px;
        margin-bottom: 29px;
    }

    /*******************************************************/
    /*performance*/
    .performanceBox {
        /*color: #468CD0;*/
        font-size: 15px;
        margin: 0px 20px 0 20px;
        padding-bottom: 50px;
        line-height: 15px;
    }

    .performance_title {
        font-size: 19.09px;
        margin: 4px 0 15px;
    }

    .performance_contentsBox {
        margin: 5px 0 0px;
        /*letter-spacing: 0.1em;*/
    }

    .performance_content {
        overflow: hidden;
        margin: 5px 0;
    }

    .performance_content_date {
        float: left;
        width: 20%;
    }

    .performance_content_text {
        float: right;
        width: 75%;
        padding-left: 5px;
        line-height: 22px;
    }


    /*******************************************************/
    /*footer*/
    footer {
        font-size: 22.83px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    footer.invert {
        background-color: #0055be;
        color: #ffffff;
    }

    #footerWrap {
        position: absolute;
        height: 180%;
        width: 104%;
        top: 0px;
        left: -2%;
        z-index: 100;
        background-color: #ffffff;
        opacity: 0.8;
        display: none;
    }

    .invert #footerWrap {
        background-color: #ffffff;
        opacity: 0.2;
    }

    .footer_contentsBox {
        margin: 0px 0 90px 164px;
        padding-top: 35px
    }

    footer a {
        margin-right: 31px;
        line-height: 90%;
        display: inline-block;
    }

    footer.invert a {
        color: #ffffff;
    }

    footer a:hover {
        opacity: 1;
        text-decoration: none;
        border-bottom: 1.1px solid #468CD0;
    }

    .copyright {
        font-size: 9px;
        text-align: center;
        padding: 8px 0;
    }

    .homeButton {
        position: fixed;
        bottom: 15px;
        right: -14px;
        z-index: 1000;
        width: 35px;
    }



    /************************************************/
    /*1文字ずつ表示*/
    .ticker, .ticker2 {
        margin: 10px 0;
        padding: 5px 0px 0 58px;
        width: 87%;
        text-align: left;
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-size: 17px;
        margin-left: 11px;
        line-height: 28px;
        height: 50px;
    }

    .ticker ul, .ticker2 ul {
        width: 100%;
        position: relative;
        display: inline-block;
    }

    .ticker ul li, .ticker2 ul li {
        width: 100%;
        display: none;
        height: 30px;
    }

    .showlist span {
        opacity: 0;
    }

    .ticker ul li a:hover, .ticker2 ul li a:hover {
        text-decoration: none;
    }

    /*位置調整*/
    .tickerTitle {
        position: absolute;
        left: 0;
    }




    /*お問い合わせpop*/
    .box.sessionSuccess {
        display: block;
        font-size: 14px;
        background-color: #0055be;
        color: #fff;
        width: 318px;
        height: auto;
        padding: 10px 20px;
        margin-top: 0px;
        margin-left:  -0px;
        top: 30px;
    }

    .box.sessionSuccess:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    header .testWrap {
        position: absolute;
        z-index: 10000;
        margin: 0 auto;
        opacity: 0.5;
    }

    /*******************************************************/
    /*150122_unisa*/

    .unisa_content.n1{
        width: 140px;
        margin-bottom: 3px;
    }

    .unisa_content.n2{
        width: 230px;
        margin-bottom: 3px;
    }


    .contact_title {
        font-size: 18px;
        margin: -3px 0 30px 0px;
        letter-spacing: 1px;
    }
    .contactBox {
        font-size: 9.7px;
        margin: 1px 2px 0 1%;
    }
    .contactBox .contact_type {
        margin-top: 32px;
        margin-bottom: 36px;
        margin-left: 0px;
    }
    .contactBox .contact_radio1 {
        position: relative;
        width: 90px;
    }
    .contactBox .contact_radio2 {
        position: relative;
        width: 116px;
    }
    .contactBox .contact_radio3 {
        position: relative;
        width: 95px;
    }
    .contactBox .contact_radio_text {
        font-size: 10.6px;
        position: absolute;
        top: -3px;
        left: 24px;
    }
    .contactBox .inputBox {
        margin-top: -32px;
        margin-bottom: 41px;
        width: 94%;
    }
    .contactBox .inputBox input {
        padding: 5.5px 8px;
        letter-spacing: 2px;
    }
    .contactBox  #textContent {
        height: 196px;
        padding: 4px 8px;
        letter-spacing: 2px;
        margin-top: 2px;
    }
    .contactBox  input[type="submit"] {
        padding: 4px 44px;
    }
    .contactBox form .form_send {
        margin-top: -27px;
        margin-left: 1px;
    }
    .contactBox .inputBox label {
        display: block;
        margin: 17px 0 2px;
    }
    .contactBox .contact_label {
        font-size: 6.7px;
    }
    .contactBox .styledRadio {
        position: absolute;
        top: -6px;
    }
    .contactBox .contact_type label {
        margin-right: 0px;
        margin-bottom: 27px;
    }

    .contact_title {
        font-size: 15.09px;
        margin: 0px 0 30px;
    }

    .contact_type label {
        display: inline-block;
        margin-right: 25px;
        margin-bottom: 15px;
        cursor: pointer;
        letter-spacing: 0.1em;
    }

    .contact_label {
        font-size: 5.93px;
    }

    form .form_send {
        margin-top: 10px;
    }

    /*******************************************************/
    /*150122_unisa*/
    .unisaBox {
        font-size: 16px;
        margin: 6px 20px 6px 20px;
        line-height: 28px;
    }

    .unisa_title {
        font-size: 20px;
        margin-bottom: 11px
    }

    .unisa_date{
        float: right;
        font-size: 16px;
        margin-top:-52px;
        padding: 25px
    }

    .unisa_content {
        margin: 15px 0 15px 0;
    }
    .unisa_paragraph_indent{
        text-indent: 20px;
    }

    .unisa_content.n1{
        width: 203px;
        margin-bottom: 3px;
    }

    .unisa_content.n2{
        width: 316px;
        margin-bottom: 3px;
    }

    .unisa_item{
        /*margin-top: -26px;*/
    }

    .unisa_headline {
        font-weight: bold;
        margin: 10px 0 0;
    }

    .unisa_left_indent{
        margin-left: 60px
    }

    .box {
        position: fixed;
        display: none;
        z-index: 100;

        min-height: 260px;
        top: 20%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: 50px;
        left: 0%;
        margin: 10px;
        cursor: default;
        background-color: white;
    }
    .collapse .box .close {
        width: 36px;
        position: absolute;
        top: 11px;
        right: 5px;
        cursor: pointer;
    }
.collapse .box .close img {
    margin-top: 0 !important;
}
    .collapse .box .popBanner {
        width: 700px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .collapse .box .close {
        /*width: 28px;*/
        position: absolute;
        /*top: 5px;*/
        /*right: 15px;*/
        cursor: pointer;
    }

    .collapse .box .popLogo img {
        width: 77%;
        position: absolute;
        top: 10px;
        left: 40px;
    }



    .collapse .box .popText img {
        position: relative;
        top: 190px;
        margin-left: auto;
        margin-right: auto;
    }

    .Num7 .collapse .box .popText img {
        width: 250px;
    }

    .slideBox {
        margin: 23px 0 0;
    }


    .display_img{
        width: 92% !important;
        padding-left: 3px !important;
        margin: -7px 7px !important;
    }
    .logoRead_text_sp{
        margin-top: 15px;
        padding-top: 10px;
        padding-left: 11px;
        margin-bottom: 20px;
        font-size: 20px;
        width: 29.5%;
    }
    .logoRead_text{
        font-size: 22px;
        width: 29%;
    }
    #delay_image08{
        background-image: url('../img/statement_background_sp.png');
        background-repeat: no-repeat;
        background-position: 19px 4px;
        background-size: 313px;
        height: 193px;
    }
    .pc {
        display: none;
    }

    .r15{
        right: 10px !important;
        top: 13px !important;
    }

    /* Custom popup for inden_SP */
    #indexSp .box {
        position: fixed;
        display: none;
        z-index: 100;
        min-height: 270px;
        top: 50%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: 50px;
        left: 0%;
        margin: 20px;
        cursor: default;
        background-color: white;
    }

    #indexSp .collapse .box .close {
        width: 28px;
        position: absolute;
        top: 1%;
        right: 4px;
        cursor: pointer;
    }
    #indexSp .collapse .box .popBanner {
        height: auto;
        width: 340px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -35px;
    }

    #indexSp .collapse .box .close {
        width: 28px;
        position: absolute;
        top: 10px;
        right: 12px;
        cursor: pointer;
    }

    #indexSp .collapse .box .popLogo img {
        position: absolute;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
    }


    #indexSp .collapse .box .popText img {
        position: relative;
        top: 175px;
        margin-left: auto;
        margin-right: auto;
    }

    #indexSp .index_content .popText img {
        width: 120px;
        margin-bottom: 6px;
    }

    #indexSp .index_content.Num7 .popText img {
        width: 190px;
        margin-bottom: 6px;
    }

    #indexSp .index_content.Num82.popText img ,
    #indexSp .index_content.Num8 .popText img ,
    #indexSp .index_content.Num10 .popText img {
        width: 150px;
        margin-bottom: 5px;
    }

    #indexSp .index_content.Num9 .popText img {
        margin-bottom: 25px;
    }

    /** select menu */
    *, *:after, *:before {
        transition: transform 0.3s ease-out, text-shadow 0.3s ease-out, background-color 0.3s ease-out, opacity 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, border 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out, text-shadow 0.3s ease-out, background-color 0.3s ease-out, opacity 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, border 0.3s ease-out;
        -ms-transition: -ms-transform 0.3s ease-out, text-shadow 0.3s ease-out, background-color 0.3s ease-out, opacity 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, border 0.3s ease-out;
        -webkit-text-size-adjust:100%;

        -webkit-transition:
        -webkit-transform 0.42s cubic-bezier(.15,.05,.3,.98),
        text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
        opacity 0.3s ease-out,
        box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
        color 0.42s cubic-bezier(.42,.17,.45,.98),
        background-color 0.42s cubic-bezier(.42,.17,.45,.98),
        border 0.3s ease-out;

        -moz-transition:
        -moz-transform 0.42s cubic-bezier(.15,.05,.3,.98),
        text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
        opacity 0.3s ease-out,
        box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
        color 0.42s cubic-bezier(.42,.17,.45,.98),
        background-color 0.42s cubic-bezier(.42,.17,.45,.98),
        border 0.3s ease-out;

        -ms-transition:
        -ms-transform 0.42s cubic-bezier(.15,.05,.3,.98),
        text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
        opacity 0.3s ease-out,
        box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
        color 0.42s cubic-bezier(.42,.17,.45,.98),
        background-color 0.42s cubic-bezier(.42,.17,.45,.98),
        border 0.3s ease-out;

        -o-transition:
        -o-transform 0.42s cubic-bezier(.15,.05,.3,.98),
        text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
        opacity 0.3s ease-out,
        box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
        color 0.42s cubic-bezier(.42,.17,.45,.98),
        background-color 0.42s cubic-bezier(.42,.17,.45,.98),
        border 0.3s ease-out;

        transition:
        transform 0.42s cubic-bezier(.15,.05,.3,.98),
        text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
        opacity 0.3s ease-out,
        box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
        color 0.42s cubic-bezier(.42,.17,.45,.98),
        background-color 0.42s cubic-bezier(.42,.17,.45,.98),
        border 0.3s ease-out;
    }

    *::selection {
        background: rgba(0, 216, 255, 0.28);
        background: rgba(0, 114, 134, 0.18);
        background: rgba(9, 172, 201, 0.15);
        background: rgba(0, 0, 0, 0.1);
    }
    .clearfix:after {
        content: "";
        clear: both;
        display: block;
    }
    #g_nav {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    #g_nav > div#menu_button {
        position: absolute;
        top: 17px;
        right: 4px;
        display: block;
        padding: 20px;
        cursor: pointer;
        pointer-events: all;
        z-index: 1000;
    }
    #g_nav > div#menu_button > .nav_icon {
        position: relative;
        background: #fff;
        display: block;
        width: 31px;
        height: 3px;
    }
    #g_nav ul {
        opacity: 0.0;
        display: block;
        background-color: rgba(28, 104, 199, 0.88);
        /*background-color: rgba(55, 196, 222, 0.9);*/
        height: 100%;
    }
    #g_nav ul > li:first-child {
        padding-top: 90px;
    }
    #g_nav ul > li {
        padding: 0 0 0 8.5px;
        -webkit-transform: translate(0px, 60px);
        -moz-transform: translate(0px, 60px);
        -ms-transform: translate(0px, 60px);
        -o-transform: translate(0px, 60px);
        transform: translate(0px, 60px);
    }
    #g_nav ul > li {
        letter-spacing: 0.14em;
    }
    #g_nav ul > li > a {
        display: block;
        width: 100%;
        padding: 22px 0;
        text-indent: 20px;
        color: #fff;
        font-size: 22.83px;
        text-indent: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    #g_nav > div#menu_button {
        position: absolute;
        right: 19px;
        display: block;
        padding: 11px;
        cursor: pointer;
        pointer-events: all;
        z-index: 1000;
    }
    #g_nav.open {
        pointer-events: all;
    }
    #g_nav.open > ul {
        opacity: 1.0;
        height: 100%;
    }
    #g_nav.open > div#menu_button > .nav_icon {
        background: rgba(0,0,0,0.0);
    }
    #g_nav > div#menu_button > .nav_icon {
        position: relative;
        background: #fff;
        display: block;
        width: 31px;
        height: 3px;
        top: 0px;
    }
    #g_nav.open > div#menu_button > .nav_icon:before {
        background: #FFF;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);

    }
    #g_nav > div#menu_button > .nav_icon:before {
        content: '';
        background: #fff;
        display: block;
        width: 31px;
        height: 3px;
        position: absolute;
        -webkit-transform: translate(0,-8px);
        -moz-transform: translate(0,-8px);
        -ms-transform: translate(0,-8px);
        -o-transform: translate(0,-8px);
        transform: translate(0,-8px);
        left: 0;
        top: 0px;
    }
    #g_nav.open > div#menu_button > .nav_icon:after {
        background: #FFF;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    #g_nav.open ul > li {
        opacity: 1.0;
        -webkit-transform: translate(0, 0px);
        -moz-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        -o-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }

    #g_nav.open ul > li:nth-child(1) {
        -webkit-transition-delay: 0.0s;
        -moz-transition-delay: 0.0s;
        -ms-transition-delay: 0.0s;
        -o-transition-delay: 0.0s;
        transition-delay: 0.0s;
    }

    #g_nav.open ul > li:nth-child(2) {
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -ms-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    #g_nav.open ul > li:nth-child(3) {
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -ms-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    #g_nav.open ul > li:nth-child(4) {
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -ms-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    #g_nav.open ul > li:nth-child(5) {
        -webkit-transition-delay: 0.4s;
        -moz-transition-delay: 0.4s;
        -ms-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    #g_nav.open ul > li:nth-child(6) {
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        -ms-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }
    #g_nav > div#menu_button > .nav_icon:after {
        content: '';
        background: #fff;
        display: block;
        width: 31px;
        height: 3px;
        position: absolute;
        -webkit-transform: translate(0,8px);
        -moz-transform: translate(0,8px);
        -ms-transform: translate(0,8px);
        -o-transform: translate(0,8px);
        transform: translate(0,8px);
        left: 0;
        top: 0px;
    }
    #g_nav:not(.open) > div:hover > .nav_icon, #g_nav > div:hover > .nav_icon:after,
    #g_nav > div:hover > .nav_icon:before {
      /*box-shadow: 0 0 10px rgba(255,255,255,1), 0 0 3px rgba(255,255,255,0.8);*/
    }

    .normal #g_nav > div#menu_button > .nav_icon,
    .normal #g_nav > div#menu_button > .nav_icon:before,
    .normal #g_nav > div#menu_button > .nav_icon:after {
        background: rgba(28, 104, 199, 1);
    }
    .normal #g_nav.open > div#menu_button > .nav_icon:before {
        background: #fff;
    }
    .normal #g_nav.open > div#menu_button > .nav_icon:after {
        background: #fff;
    }
    .normal #g_nav.open > div#menu_button > .nav_icon {
        background: rgba(28, 104, 199, 0);
    }

    /* Custom image popup for indexSP */
    .capture_sp
    {
        position: absolute !important;
        height: auto !important;
        width: auto !important;
        top: 22% !important;
        left: 25% !important;
    }

    .teppan_sp
    {
       position: absolute !important;
       height: 85px !important;
       width: auto !important;
       top: 119px !important;
       left: 70% !important;
   }

   .senpai_sp{
       position: absolute !important;
       height: auto !important;
       width: 37% !important;
       top: 11% !important;
       left: 32% !important;
   }
   .senpai_text{
       margin-top: -2px;
   }
   .senpai_text img {
       top: 175px !important;
       padding-right: 18px !important;

   }

.comming_soon_sp img {
    width: 17.5% !important;
    top: 16.6% !important;
    left: 70.8% !important;
}

   .collapse .box .popLogo.popup-1 img {
	    top: 21%;
	}
	.collapse .box .popLogo.popup-6 img {
        top: 23%;
        width: 220px;
        height:auto;
        left:26%;
	 }
	.collapse .box .popLogo.popup-7 img {
	    top: 21%;
        width: 180px;
        height: auto;
        left: 25%;
	}
	.collapse .box .popLogo.popup-3 img {
	    top: 25%;
	}
	.collapse .box .popLogo.popup-2 img {
	    top: 33%;
	}

    .menu_txt {
        margin-top: 20px;
        display: block;
        text-align: center;
        font-size: 11px;
    }

    .business_groups {
        margin-top: 13px;
    }
    .business_groups .parts .part {
        background: #F6F9FD;
        padding:10px;
        position: relative;
        margin: 11px 0;
        height: 84px;
        overflow: hidden;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .business_groups .parts img {
      /*margin-bottom: 11px;*/
      margin-bottom: 15px;
    }

    .business_groups .parts .part:nth-child(2) img{
        margin-left: -22px;
        padding-left: 0;
        padding-top: 2px;
        width: 93%;
    }
    .business_groups .parts .part:nth-child(2) {
        height: 78px;
    }
    .business_groups .parts .part:nth-child(3){
        padding: 0;
        margin-top: 14px;
        height: 95px;
    }
    .business_groups .parts .part:nth-child(3) img{
        width: 92%;
        padding-left: 0;
        margin-left: -3px;
        margin-top: -3px;
    }
    .business_groups .parts .part img {
        width: 96%;
        padding-left: 7px;
    }
.business_groups .parts .part:nth-child(4) {
    height: 79px;
}
    .business_groups .parts .part:nth-child(4) img{
        padding-top: 5px;
        padding-left: 4px;
        width: 99%;
    }
.business_groups .parts .part:nth-child(5){
    height: 99px;
    margin-top: 13px;
}
.business_groups .parts .part:nth-child(5) img {
    padding-top: 5px;
    margin-left: -3px;
    width: 98%;
}
.font-special {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
}
.para {
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
}
.para_title {
    /*font-weight: bold;*/
    line-height: 20px;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 6px;
}
.p_title {
    font-size: 16px;
    font-weight: normal;
}
.business_title {
    font-size: 17px;
    line-height: 27px;
    margin-top: -4px;
}

   @media screen and (max-width: 736px) and (min-width: 481px) {
       .headerContents {
           padding-top: 38px;

       }
       .headerContents img.siteLogo {
           width: 127px;
           margin-left: 10px;

       }
       #g_nav > div#menu_button {
           top: 28px;
           padding-right: 14px;
       }
       #g_nav > div#menu_button > .nav_icon {
           width: 58px;
           height: 8px;
           top: 15px;
       }
       #g_nav > div#menu_button > .nav_icon:before, #g_nav > div#menu_button > .nav_icon:after {
           width: 58px;
           height: 8px;
       }
       #g_nav > div#menu_button > .nav_icon:after {
           top: 12px;
       }
       #g_nav > div#menu_button > .nav_icon:before {
           top: -12px;
       }
       .menu_txt {
           margin-top: 46px;
           display: block;
           text-align: center;
           font-size: 19px;
       }
       .top_readImage img {
           width: 100%;
       }
       .top_readImage {
           margin: 7px 0 0 6px;
       }
       .top_learn_more img {
           width: 5px !important;
       }
       .headerText {
           margin: 16px 5% 0;
       }
       .tellNumber {
           font-size: 21.68px;
           top: 95px;
           left: 156px;
       }
       .index_contentsBoxTop {
           margin-top: 26px;
           margin-left: 13px;

       }
       .collapse .box .popLogo img {
           width: 77%;
       }
       .box {
           width: 50%;
           left: 25%;
       }
       .index_content.Num1 img {
           width: 128px;
           margin-top: -11px;
       }
       .index_ContentText {
           font-size: 17px;
           line-height: 20px;

       }
       .index_ContentText.n1 {
           margin: 8px 0 0 0px;
       }
       .index_content.Num2 img.open {
           width: 175px;
           /* margin: -18px 15px 5px -2px; */
           margin-top: -9px;
           margin-bottom: 7px;
       }
       .index_content.Num3 img {
           margin-top: -3px;
           margin-left: -2px;
       }
       .headerContents {

       }
       .business_groups .parts .part {
           height: 164px;
       }
       .business_groups .parts .part:nth-child(4),.business_groups .parts .part:nth-child(2) {
           height: 141px;
       }
       .business_groups .parts .part:nth-child(3) {
           height: 169px;
       }
       .business_groups .parts .part:nth-child(5) {
           height: 171px;
       }
       .new_title_img {
           width: 28%;
       }
   }

@media screen and (max-width: 480px){
    .headerContents {
        padding: 18px 0px 0px 10px;
    }
    #g_nav > div#menu_button {
        padding: 0;
        top: 27px  ;
    }
    #g_nav > div#menu_button > .nav_icon {

        width: 34px;
        height: 3px;
        top: 3px;

    }
    #g_nav > div#menu_button > .nav_icon:before, #g_nav > div#menu_button > .nav_icon:after {
        width: 34px;
        height: 3px;
    }
    #g_nav > div#menu_button > .nav_icon:after {
        /*top: 3px;*/
    }
    #g_nav > div#menu_button > .nav_icon:before {
        /*top: -3px;*/
    }
    .headerText {
        font-size: 6.7px;
    }
    .tellNumber {
        top: 51px;
        left: 87px;
    }
    .top_readImage img {
        width: 99%;
    }
    .top_learn_more {
        right: -3px;
    }
    .top_learn_more img {
        width: 5px;
    }
    .index_headline {
        font-size: 14.4px;
        margin: 19px 11px 20px 0;
        line-height: 196%;
    }
    .index_contentsBoxTop {
        margin-left: 0;
    }
    .index_content.Num1 img {
        width: 75px;
        margin-top: -9px;
        margin-left: -3px;
    }
    .index_content.Num2 img.open {
        width: 100px;
        margin-left: -2px;
        margin-top: -2px;
    }
    .index_content.Num3 img {
        width: 97px;
        margin-top: 0;
        margin-left: -2px;
        margin-bottom: 7px;
    }
    .index_content.Num4 img {
        width: 104px;
        /* margin: 0px 0px 0px -2px; */
        margin-top: 10px;
        margin-bottom: 0;
    }
    .index_content.Num5 img {
        width: 101px;
        margin-left: -2px;
        margin-top: 9px;
        margin-bottom: 7px;
    }
    .index_content.Num6 img{
        width: 75px;
        margin-left: -4px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .index_ContentText.n6{
        margin-bottom: 2px;
    }
    .index_content.Num7 img {
        width: 63px;
        margin-top: 0px;
        margin-left: -2px;
    }
    .index_content.Num8 img {
        width: 106px;
        margin-left: -5px;
        margin-top: -1px;
    }
    .index_content.Num9 img {
        width: 84px;
        margin-top: 9px;
        margin-bottom: 8px;
    }
    .index_content.Num10 img {
        width: 119px;
        margin-top: 3px;
        margin-left: -9px;
    }
    .slideBox {
        margin-top: 5px;
    }
    .ticker, .ticker2 {
        margin: 8px 0;
        margin-left: 0;
        line-height: 20px;
        font-size: 10px;
        padding: 5px 0px 0 44px;
    }
    .ticker2{
        margin-top: -21px;
        height: 70px;
    }
    .box {
        left: 2%;
        width: 90%;
    }
    .collapse .box .popBanner {
        /*height: 318px;*/
    }
    .collapse .box .popLogo.popup-1 img {
        top: 27%;
        width: 174px;
        left: 26.7%;
    }
    .popup-1-txt img {
        width: 37% !important;
        top: 188px !important;

    }
    .collapse .box .popLogo.popup-2 img {
        top: 25%;
        width: 70%;
        left: 18%;
    }
    .collapse .box .popLogo.popup-3 img {
        width: 68%;
        left: 18%;
        top: 22%;
    }
    .collapse .box .popLogo.popup-6 img {
        top: 21%;
        width: 220px;
        height: auto;
        left: 19%
    }
    .bussness-container {
        padding-left: 2px !important;
        width: 98% !important;
    }
    .new_title_img {
        width:31%;
        margin-top:17px;
        margin-bottom:12px;
    }

}



/*loading css*/

.page_loader{
    position: absolute;
    background: #ffffff;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#floatingCirclesG{
    position:relative;
    width:125px;
    height:125px;
    top: 42%;
    margin:auto;
    transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}

.f_circleG{
    position:absolute;
    background-color:rgb(255,255,255);
    height:22px;
    width:22px;
    border-radius:12px;
    -o-border-radius:12px;
    -ms-border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:51px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}

#frotateG_02{
    left:15px;
    top:15px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#frotateG_03{
    left:51px;
    top:0;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#frotateG_04{
    right:15px;
    top:15px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#frotateG_05{
    right:0;
    top:51px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#frotateG_06{
    right:15px;
    bottom:15px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#frotateG_07{
    left:51px;
    bottom:0;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#frotateG_08{
    left:15px;
    bottom:15px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
    0%{
        background-color:rgba(3,55,124,0.97);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes f_fadeG{
    0%{
        background-color:rgba(3,55,124,0.97);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes f_fadeG{
    0%{
        background-color:rgba(3,55,124,0.97);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:rgba(3,55,124,0.97);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:rgba(3,55,124,0.97);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}
