/*
Change show the linux
*/

@charset "utf-8";
@font-face {
    font-family: "SourceSansPro-Light";
    src: url("../font/SourceSansPro-Light.otf") format("opentype");
}
* {
    font-family: "SourceSansPro-Light","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,"メイリオ","Lucida Grande","sans-serif";
    /*font-family: Avenir, 'Helvetica neue', Helvetica, '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;*/
    padding: 0;
}
body {
    color: #0055be;
    font-size: 11px;
    letter-spacing: 0.07em;
    line-height: 140%;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
body .popWrap {
    background-color: #000;
    display: none;
    height: 100%;
    margin: 0 auto;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    z-index: 10;
}
header .testWrap {
    margin: 0 auto;
    opacity: 0.3;
    position: absolute;
    z-index: 10000;
}
body.invert {
    background-color: #0055be;
    color: #468cd0;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight: normal;
}

a {
    color: #468cd0;
    text-decoration: none;
}
.invert a {
    color: #ffffff;
}
a:hover {
    color: #468cd0;
    opacity: 0.8;
    text-decoration: underline;
}
input, textarea {
    border: 1px solid #468cd0;
    font-size: 19.8px;
    color: #468cd0;
}

::-webkit-input-placeholder {
    color: #468cd0;
}

:-moz-placeholder {
    color: #468cd0;
}

button, input[type="submit"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}

html body .pc_none {
    display: none;
}
header {
    font-size: 11px;
    margin: 0 auto;
    position: relative;
    width: 1280px;
}
.invert header {
    background-color: #0055be;
    color: #ffffff;
}
.headerContents {
    padding: 26px 80px 0 59px;
    width: 1140px;
}
.headerContents img {
    display: inline-block;
    width: 184px;
}
.headerText {
    display: inline-block;
    font-size: 10.7px;
    margin: -47px 0 0 -2px;
    overflow: hidden;
    padding-bottom: 1px;
    color: #468cd0;
}
.tellNumber {
    float: right;
    font-size: 18.25px;
    margin-right: -1px;
    padding-top: 75px;
    text-align: right;
}
.faxNumber {
    font-size: 10px;
    line-height: 170%;
}
#container {
    margin: 0 auto;
    width: 1280px;
}
.invert #container {
    background-color: #0055be;
}
.indexBox {
    margin: 37px 0 0 164px;
}
.top_readImage {
    height: 236px;
    position: relative;
    width: 1016px;
}
.top_learn_more {
    border-bottom: 1.1px dotted #468cd0;
    bottom: -3px;
    font-size: 20.05px;
    margin-right: 30px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    width: 114px;
    padding-bottom: 4px;
}
.top_learn_more img {
    float: right;
}
.index_headline {
    font-size: 23.1px;
    margin: 55px 0 28px;
    width: 751px;
}
.index_contentsBoxTop {
    height: 86px;
    /*overflow: hidden;*/
}
.index_content {
    float: left;
    line-height: 125%;
    margin-right: 17px;
}
.index_content.Num1 {
    margin-right: 19px;
    width: 148px;
}
.index_content.Num2 {
    margin-right: 14px;
    width: 193px;
}
.index_content.Num3 {
    margin-right: 21px;
    margin-top: 1px;
    width: 166px;
}
.index_content.Num4 {
    margin-right: 12px;
    margin-top: 6px;
    width: 188px;
}
.index_content.Num5 {
    margin-top: -3px;
    width: 117px;
}
.index_content.Num6 {
    margin-right: 17px;
    margin-top: 6px;
    width: 150px;
}
.index_content.Num7 {
    margin-right: 32px;
    margin-top: 5px;
    width: 175px;
}
.index_content.Num8 {
    margin-right: 47px;
    margin-top: 0;
    width: 140px;
}
.index_content.Num9 {
    margin-right: 20px;
    margin-top: 13px;
    width: 180px;
}
.index_content.Num10 {
    margin-top: 4px;
    width: 195px;
}
.index_contentsBoxBottom {
    height: 101px;
}
.index_content:hover {
    cursor: pointer;
    text-decoration: none;
}
.index_content img {
    margin-bottom: 6px;
}
.index_content.Num1 img {
    width: 89px;
    margin-bottom: 5px;
    margin-top: -2px;
}
.index_content.Num2 img {
    width: 122px;
}
.index_content.Num3 img {
    margin-bottom: 5px;
    width: 120px;
    margin-top: -7px;
}
.index_content.Num4 img {
    margin-bottom: 7px;
    width: 127px;
}
.index_content.Num5 img {
    margin-bottom: 8px;
    margin-top: 0px;
    width: 119px;
}
.index_content.Num6 img {
    margin-bottom: 7px;
    width: 91px;
}
.index_content.Num7 img {
    margin-bottom: 4px;
    /* width: 113px; */
    width: 73px;
    margin-top: -3px;
}
.index_content.Num8 img {
    margin-bottom: 4px;
    width: 126px;
}
.index_content.Num9 img {
    margin-bottom: 9px;
    width: 100px;
}
.index_content.Num10 img {
    margin-bottom: 8px;
    width: 139px;
}
.index_content.Num7 .index_contentText {
    margin-right: 3px;
}
.open {
    width: 190px;
}
.collapse {
}
.box {
    cursor: default;
    display: none;
    height: 423px;
    left: 50%;
    margin-left: -382px;
    margin-top: -422px;
    position: fixed;
    top: 0;
    width: 765px;
    z-index: 100;
    background: #ffffff;
}
.collapse .box .popBanner {
    width: 765px;
}
.collapse .box .close {
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 13px;
    height: 22px;
    width: 28px;
}
.collapse .box .popLogo img {
 	position: absolute;
    right: 185px;
    top: 35px;
    width: 377px;
    /*right: 33%;*/
    /*top: 30%;*/
    /*width: 227px;*/
}
.collapse .box .popLogo.popup-1 img {
    top: 97px;
}
.collapse .box .popLogo.popup-10 img {
    width: 200px;
}
.collapse .box .popLogo.popup-1 img {
    top: 30%;
    left: 35%;
    width: 220px;
}
.collapse .box .popLogo.popup-6 img {
     top: 25%;
    right: 28%;
    width: 300px;
 }
.collapse .box .popLogo.popup-7 img {
    top: 25%;
    right: 35%;
    width: 220px;
}
.collapse .box .popLogo.popup-3 img {
    top: 25%;
    right: 28%;
    width: 320px;
}
.collapse .box .popLogo.popup-2 img {
    top: 30%;
    right: 30%;
    width: 300px;

}

.collapse .box .popText img {
    position: absolute;
    right: 305px;
    top: 290px;
    width: 137px;
}
.Num6 .collapse .box .popText img {
    right: 320px;
    top: 295px;
    width: 100px;
}
.Num7 .collapse .box .popText img {
    /*right: 240px;*/
    /*width: 250px;*/
    right: 310px;
    width: 148px;
    top: 300px;
}
.slideBox {
    margin: 5px 0 0;
}
.statementBox {
    margin: 8px 0 0 242px;
    padding-top: 70px;
}
.statementBox {
    color: #ffffff;
    width: 700px;
}
.statement_readImage {
    margin-left: 3px;
    max-width: none;
    width: 954px;
}
.statement_content {
    background-image: url("../img/statement_background.png");
    background-position: 134px 0;
    background-repeat: no-repeat;
    font-size: 14.3px;
    height: 885px;
    line-height: 210%;
    margin-top: 75px;
    position: relative;
    width: 1070px;
}
.statement_text {
    margin: 47px 0;
}
.statement_text.n1 {
    margin-left: 1px;
    margin-top: 2px;
    padding-top: 6px;
    width: 385px;
}
.statement_text.n2 {
    margin-left: 2px;
    margin-top: -2px;
    width: 200px;
}
.statement_text.n3 {
    margin-left: 2px;
    margin-top: -2px;
    width: 352px;
}
.statement_text.n4 {
    margin-top: -4px;
    width: 230px;
}
.statement_text.n5 {
    margin-top: -1px;
    width: 425px;
}
.statement_text.n6 {
    margin-top: -2px;
    width: 410px;
}
.statement_underText {
    margin-top: 90px;
    width: 512px;
}
.statement_logoRead {
    width: 203px;
}
.statement_content #delay_image08 {
    margin-top: 44px;
}
.invert #container {
    margin-top: -3px;
}
.invert .statement_content {
    margin-top: 71px;
}
.invert .footer_contentsBox {
    margin-top: 32px;
}
.invert .statement_underText {
}
.invert .logoRead_text {
    margin-left: 2px;
}
.invert .statement_logoRead {
    margin-left: 1px;
    margin-top: 5px;
}
.invert .statement_content #delay_image08 {
    padding-top: 3px;
}
#statement .footer_contentsBox {
    margin-top: 35px;
}
.businessBox {
    font-weight: 100;
    margin: 0 0 60px 242px;
    padding-top: 63px;
}
.business_headline {
    font-size: 25.3px;
    letter-spacing: 0.14em;
    line-height: 200%;
    margin: -14px 0 0 2px;
    /*opacity: 0.8;*/
    width: 840px;
}
.business_contentsHead {
    /*border-bottom: 1px solid #468cd0;*/
    font-size: 22px;
    line-height: 150%;
    opacity: 0.8;
    padding: 68px 0 0px;
    width: 960px;
    margin-bottom: 27px;
}
.section_2_title {
    padding-top: 48px;
}
.section_3_title {
    padding-top: 40px;
}
.business_contentsWrap {
    opacity: 0.8;
    overflow: hidden;
    padding-right: 80px;
}
.business_contentsBox {
    padding: 0 36px 0 0;
    /*width: 420px;*/
}
.business_contentsBox.right.section_1_box img{
  margin-left: -17px !important;
}
div.business_contentsBox.right.section_2_box {
  width: 422px;
  margin: 10px 10px 0px 0px;
}
.business_contentsBox.right.section_2_box img{
  margin-left: -13px !important;
}
.business_contentsBox.right.section_3_box img{
  margin-left: -13px !important;
}
.business_contentsBox.left {
    float: left;
}
.business_contentsBox.right {
    float: right;
}
.business_contentTitle {
    font-size: 25.3px;
    line-height: 150%;
    margin: 30px 0 15px;
}

body#business .business_contentTitleTop {
    font-size: 25.3px;
    line-height: 150%;
    margin: 30px 0 15px;
}

body#business .business_contentTitle {
    font-size: 25.3px;
    line-height: 110%;
    margin: 8px 0 25px;
}

.business_title {
}

.business_title.n1 {
    margin: 4px 0 0 1px;
    width: 189px;
    padding-bottom: 10px;
}
.business_title.n2 {
    margin: -12px 0 -1px -1px;
    width: 238px;
    padding-bottom: 10px;
}
.business_title.n3 {
    margin: -23px 0 5px 0px;
    width: 297px;
    padding-bottom: 10px;
}
.business_content {
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,"メイリオ","Lucida Grande","sans-serif";
    font-size: 16.5px;
    line-height: 170%;
    text-align: justify;
}

body#business .business_content {
  margin-bottom: 23px;
}

.business_contentTitle.n1 {
    margin: -2px 0 0;
    width: 299px;
}
.business_content.n1 {
    margin: -3px 0 0 0px;
    /*width: 420px;*/
}
.business_contentTitle.n2 {
    margin: 31px 0px 0px;
    /*width: 242px;*/
}
.business_content.n2 {
    margin: -5px 0px 0;
    /*width: 420px;*/
}
.business_contentTitle.n3 {
    margin: 28px -12px 0;
    width: 235px;
}
.business_content.n3 {
    /*margin: 22px 0px 0 -11px;
    width: 429px;*/
}
.business_contentTitle.n4 {
    margin: 31px -11px 0;
    width: 375px;
}
.business_content.n4 {
    /*margin: 18px -11px 0;
    width: 428px;*/
}
.business_contentTitle.n5 {
    margin-top: 13px !important;
    /*width: 262px;*/
}
.business_content.n5.sec2_content {
    margin: -6px 0px 27px 0px !important;
    /*width: 420px;*/
}
.business_content.n5 {
    margin: -4px 0px 0px 2px;
    /*width: 420px;*/
}
.business_contentTitle.n6 {
    margin: 38px -11px 0;
    width: 203px;
}
.business_content.n6 {
    margin: 16px -11px 0;
    width: 433px;
}
.business_contentTitle.n7 {
    margin: -2px -1px 0;
    width: 194px;
}
.business_content.n7 {
    margin: -4px 0px 0;
    /*width: 431px;*/
    margin-bottom: 32px !important;
}
.business_contentTitle.n8 {
    margin: -2px -11px 0;
    width: 435px;
}
.business_content.n8 {
    margin: -8px -12px 0;
    /*width: 435px;*/
}
.business_contentTitle.n9 {
    margin: -9px -1px 0;
    width: 209px;
}
.business_content.n9 {
    margin: 18px 0 55px 1px;
    width: 429px;
}
.business_readmore {
    font-size: 16.5px;
    line-height: 140%;
}
.business_readmore.n1 {
    margin-left: 1px;
    margin-top: 9px;
}
.business_readmore.n2 {
    margin-left: 1px;
    margin-top: 12px;
}
.business_readmore.n3 {
    margin-left: -3px;
    margin-top: 9px;
}
.business_readmore.n4 {
    margin-left: -3px;
    margin-top: 14px;
}
.business_readmore.n5 {
    margin-left: 2px;
    margin-top: 12px;
}
.business_readmore.n6 {
    margin-left: -3px;
    margin-top: 14px;
}
.business_readmore.n7 {
    margin-left: 2px;
    margin-top: 10px;
}
.business_readmore.n8 {
    margin-left: -3px;
    margin-top: 7px;
}
.business_readmore.n9 {
    margin-left: 2px;
    margin-top: 9px;
}


/* new business page */
.business_header_img {
  width: 94.9%;
  margin-top: 41px;
}

.business_sub_header_img {
  padding-top: 26px;
  margin-bottom: 36px;
  margin-left: -3px;
  width: 83.15%;
}


.companyBox {
    font-size: 11px;
    line-height: 200%;
    margin: 0 0 0 242px;
    padding: 50px 0 30px;
}
.company_title {
    font-size: 32.5px;
    letter-spacing: 1.8px;
    margin: 7px 0 0px;
}
.company_contents {
    letter-spacing: 2.5px;
    margin-bottom: 33px;
    overflow: hidden;
    width: 850px;
    height: 489px;
    margin-top: 51px;
    /*color: rgba(0,0,0,1);*/
    position: relative;
}

.company_contents img.sp_none {
    position: absolute;
}


.company_detail {
    float: left;
    font-size: 100%;
    margin: -2px 5px 5px 0px;
    width: 340px;
}
.company_detail_under {
    float: left;
    margin: -2px 0 0 0;
    letter-spacing: 2px;
}

.company_text_position {
    letter-spacing: 0.16em;
    overflow: hidden;
}
.company_text_position .company_detail {
    width: 355px;
    margin-right: 20px;
}


.company_detail_under img{
    padding: 12px 0 0 37px;
}
.company_leftContentsBox {
	color:#468cd0;
    line-height: 195%;
    overflow: hidden;
}
.company_leftContentsBox.bottom {
    margin-top: -4px;
}
.company_rightContentsBox {
	color:#468cd0;
    float: right;
    line-height: 190%;
    overflow: hidden;
    padding: 0 58px 15px 0;
    width: 350px;
}

.company_Content_title {
    float: left;
    width: 100px;
    margin-left: -6px;
}
.company_Content_title.none_float {
    float: none;
}
.company_content_title::selection, .company_content::selection {
    color: rgba(70, 140, 208, 0);
    background-color: rgba(70, 140, 208, 0.3);
}
.company_content_title::-moz-selection, .company_content::-moz-selection {
    color: rgba(70, 140, 208, 0);
    background-color: rgba(70, 140, 208, 0.3);
}
.company_detail .company_Content_title,
.company_detail .company_Content_title_under {
    letter-spacing: 1.7px;
}


.company_Content {
    float: right;
    margin-top: -1px;
    width: 259px;
}

.company_content_zipcode {
    letter-spacing: 3.2px;
}

.company_content_address {
    letter-spacing: 4px;
}

.company_Content_Under.second_line span {
    letter-spacing: 3.2px;
}


.company_Content_title.sub1 {
    float: left;
    width: 113px;
    /*line-height: 195%;*/
}
.company_Content.sub1 {
    float: right;
    width: 366px;
}

/*項目ごとの調整*/
.company_name {
    letter-spacing: 1.7px;
}
.company_eng {
    letter-spacing: 3px;
}
.company_content_secondLine {
    letter-spacing: 0.1em;
}
.company_start {
    letter-spacing: 3px;
}
.company_Content_capital span {
    letter-spacing: 3px;
}
.company_Content_intern span {
    letter-spacing: 4px;
}
.company_Content_intern span.dot {
    letter-spacing: -3px;
}

/*map*/
.asiaMap {
	color:#468cd0;
    margin: 42px 0 -8px;
    overflow: hidden;
    width: 100%;
    height: 500px;
    letter-spacing: 2.8px;
    line-height: 195%;
    font-size: 11px;

    /*color: #000;*/
}
.asiaMap p {
    margin-left: -7px;
    padding-bottom: 0;
    margin: -4px 0 11px -7px;
    letter-spacing: 1.7px;
}

.asiaMap div.square {
    width: 10px;
    margin-right: 3px;
    height: 10px;
    display: inline-block;
    background-color: #468CD0;
}

.asiaArea_left {
    float: left;
    padding: 0 22px 26px 1px;
    width: 300px;
    margin-top: -1px;
}
.asiaArea_left span {
    letter-spacing: 0.2px;
}
.asiaArea_left img{
    padding: 21px 0 0 0;
}

.asiaMapImage {
    position: absolute;
}

.asiaArea_middle {
    float: left;
    padding: 0 37px 26px 0px;
    width: 270px;
    margin-top: -1px;
}
.asiaArea_middle span {
    letter-spacing: 0.2px;
}

.asiaArea_right {
    float: left;
    padding: 0 58px 26px 0px;
    width: 300px;
    margin-top: -1px;
}
.asiaArea_right span {
    letter-spacing: 0.2px;
}

#company .footer_contentsBox {
    margin: 20px 0 90px 162px;
    padding-top: 20px;
}
#company .footer_contentsBox a {
    display: inline-block;
    line-height: 100%;
    margin-right: 32px;
}
#company .company_title img{
    width: 144px;
    margin: -22px 0 0 0px;
}

#company .company_detail img{
    padding: 14px 0 0 6px;
    width: 361px;
}

#company .company_contents .company_detail .company_left .n1 img{
    width : 100px;
}
.recruitBox {
    background-image: url("../img/recruit_background.png");
    background-position: 512px 0;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 14.3px;
    font-weight: 100;
    margin: 7px 0 0 242px;
    padding: 50px 0 30px;
}
.recruit_readImage {
    width: 551px;
}
.recruit_headline {
    font-size: 28.6px;
	/*
    line-height: 180%;
    margin: 35px 0;
    width: 404px;*/
}
.recruit_headline img {
	margin: 43px 0 0 -3px;
}
.recruit_contentTitle {
    font-size: 28.6px;
    margin: 40px 0 23px;
}
.recruit_content {
    line-height: 180%;
}
.recruit_contentTitle.n1 {
    margin: 30px 0 0 0px;
    width: 226px;
}
.recruit_contentImage1 {
    margin: 17px 0 0 -3px;
}
.recruit_contentTitle.n2 {
   margin: 34px 0 0 0px;
}
.recruit_contentImage2 {
    margin: 16px 0 0 0px;
}
.recruit_contentTitle.n3 {
    margin: 35px 0 0 0px;
}
.recruit_contentImage3 {
    margin: 17px 0 0 0px;
}
.recruit_contentTitle.n4 {
    margin: 38px 0 0 0px;
}
.recruit_contentImage4 {
    margin: 17px 0 0 0px;
}
.recruit_link {
    display: block;
    font-size: 28.6px;
    margin: 54px 0px 0;
    position: relative;
}
a.recruit_link:hover {
    color: #ffffff;
    text-decoration: none;
}

#recruit .footer_contentsBox {
    padding-top: 13px;
}
#recruit .footer_contentsBox a {
    display: inline-block;
    line-height: 90%;
    margin-right: 32px;
}
.applicationBox {
	color:#468cd0;
    font-size: 19.8px;
    margin: 0 0 0 242px;
    padding: 50px 0 30px;
    width: 954px;
}
.application_title {
    font-size: 29.2px;
    letter-spacing: 4.2px;
    margin: 10px 4px 60px;
}
.application_type label {
    cursor: pointer;
    display: inline-block;
    height: 60px;
    margin-bottom: 0;
    margin-right: 39px;
    margin-top: 1px;
    padding-left: 2.3px;
    padding-top: 6px;
}
.application_work label {
    cursor: pointer;
    display: inline-block;
    height: 60px;
    margin-bottom: 0;
    margin-right: 39.1px;
    margin-top: 0;
    padding-left: 2px;
    padding-top: 6px;
}
.styledRadio {
    display: inline-block;
}
.label {
    font-size: 19px;
    left: 9px;
    position: relative;
    top: -9px;
}
#application .application_banner {
    display: inline-block;
    float: right;
    height: 31px;
    position: relative;
    top: -63px;
}
.application_moreInfomation {
    font-size: 18.25px;
    left: 0;
    position: absolute;
    top: -30px;
}
input#name {
    letter-spacing: 1.4px;
}
input#mail {
    letter-spacing: -0.2px;
}
input#tel {
    letter-spacing: 1.4px;
    padding-bottom: 8px;
}
.application_label {
    font-size: 12.1px;
}
.applicationBox input[type="text"], .applicationBox input[type="email"], .applicationBox input[type="tel"], .applicationBox textarea {
    margin: 0 3px 1px;
    padding: 8.6px 10px 8px;
    width: 956px;
}
.inputBox label {
    display: block;
    margin: 21px 0 7px;
}
.inputBox0 label {
    display: block;
    margin: 22px 0 7px;
}
.inputBox1 label {
    display: block;
    margin: 21px 3px 7px;
    padding: 0 1px 2px;
}
.inputBox2 label {
    display: block;
    margin: 21px 3px 8px;
    padding: 0 1px 2px;
}
.inputBox3 label {
    display: block;
    margin: 30px 2px 4px;
    padding: 0 1px 2px;
}
.inputBox4 label {
    display: block;
    margin: 42px 2px 8px;
    padding: 0 1px;
}
.label1 {
    font-size: 19px;
    left: 4px;
    letter-spacing: 0.5px;
    position: relative;
    top: -6px;
}
.label2 {
    font-size: 19px;
    left: 4px;
    letter-spacing: 0.7px;
    position: relative;
    top: -1px;
}
#textContent {
    height: 246px;
    letter-spacing: 1.5px;
    margin: 0 3px 1px;
    padding: 8.6px 10px 8px;
}
.file {
    background-color: #0055be;
    color: #ffffff;
    display: inline-block;
    font-size: 13.86px;
    left: -4px;
    margin: 0 10px 7px;
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
    top: 12px;
    width: 90px;
}
.file input[type="file"] {
    cursor: pointer;
    font-size: 100px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.application_file1 {
    background-color: #0055be;
    color: #ffffff;
    display: inline-block;
    font-size: 13.86px;
    left: 12px;
    letter-spacing: 1.45px;
    margin: 0 10px 7px;
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
    top: 9px;
}
.application_file2 {
    background-color: #0055be;
    color: #ffffff;
    display: inline-block;
    font-size: 13.86px;
    left: 13px;
    letter-spacing: 1.45px;
    margin: 0 10px 7px;
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
    top: 13px;
}
.application_file1 input[type="file"], .application_file2 input[type="file"] {
    cursor: pointer;
    font-size: 100px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.application_notes {
    font-size: 15.4px;
    letter-spacing: 0.85px;
    margin: 15px 0;
}
input[type="submit"] {
    background-color: #0055be;
    color: #ffffff;
    font-size: 19.8px;
    margin-left: 3px;
    margin-top: 40px;
    text-align: center;
    width: 211px;
    height: 43px;
}
#application_form_footer footer {
    letter-spacing: 0.92px;
    margin: -14px 310px 0;
}
.mainContact {
    margin-bottom: -18px !important;
}
.contactBox {
	color:#468cd0;
    font-size: 19.8px;
    margin: 0 0 0 242px;
    padding: 50px 0 30px;
    width: 954px;
}
.contactBox input[type="text"], .contactBox input[type="email"], .contactBox input[type="tel"], .contactBox textarea {
    font-size: 21px;
    letter-spacing: 0;
    padding: 6px 0 9px 12px;
    width: 956px;
}
.contactBox textarea {
    height: 245px;
}
.contact_title {
    font-size: 32.5px;
    letter-spacing: 2.8px;
    margin: 9px 0 61px;
}
.contact_type {
    padding-bottom: 5px;
}
.contact_type label {
    cursor: pointer;
    display: inline-block;
    margin-right: 35px;
    margin-top: 6px;
    padding-left: 1px;
}
.contact_label {
    font-size: 12px;
    letter-spacing: 1px;
}
.contact_uplode {
    font-size: 13.86px;
}
.contact_notes {
    font-size: 15.4px;
}
.contact_submit {
    font-size: 19.8px;
}
.contactBox .inputBox {
    padding-left: 1px;
    position: relative;
    top: -52px;
}
.contactBox .mail {
    font-size: 12.5px;
    letter-spacing: -1px !important;
}
.contactBox input#name {
    letter-spacing: 0 !important;
}
.contactBox input[class="mail"] {
    font-size: 20.6px;
    letter-spacing: -1.3px !important;
}
.contactBox input#tel {
    letter-spacing: 0 !important;
}
.contactBox .textarea .contact_label {
    margin: 50px 0 7px;
}
.contactBox .tel {
    margin-top: 23px;
}
.contactBox input[type="submit"] {
    background-color: #0055be;
    color: #ffffff;
    font-size: 19px;
    letter-spacing: 2px;
    margin-top: -30px;
    padding: 7px 74px;
}
.contact_radio_text {
    left: 43px;
    margin-right: 35px;
    position: relative;
    top: -42px;
}
.contact_radio2 {
    margin-right: 39px !important;
}
.contact_radio2 .contact_radio_text {
    letter-spacing: 1px;
}
.contactBox #textContent {
    height: 245px;
    letter-spacing: 0 !important;
    margin: 0 1px 2px;
    padding: 7px 12px 8px;
}
.performanceBox {
    font-size: 10px;
    margin: 0 0 0 242px;
    overflow: hidden;
    padding: 50px 0 30px;
    width: 954px;
}
.performance_news {
    float: left;
    margin-right: 25px;
    width: 450px;
}
.performance_media {
    float: right;
    width: 450px;
}
.performance_title {
    font-size: 30.8px;
    margin: 10px 0 60px;
}
.performance_contentsBox {
    line-height: 180%;
    margin: 10px 0 0;
}
.performance_content {
    margin: 5px 0;
    overflow: hidden;
}
.performance_content_date {
    float: left;
    width: 15%;
}
.performance_content_text {
    float: right;
    width: 85%;
}
footer {
    font-size: 22.83px;
    margin: -15px auto 0;
    width: 1280px;
}
footer.invert {
    background-color: #0055be;
    color: #ffffff;
}
.footer_contentsBox {
    margin: 0 0 85px 163px;
    padding-top: 20px;
}
footer a {
    display: inline-block;
    line-height: 90%;
    margin-right: 33px;
    color: #0055be;
}
footer.invert a {
    color: #ffffff;
}
footer a:hover {
    border-bottom: 1.1px solid #468cd0;
    opacity: 1;
    text-decoration: none;
}
footer.invert a:hover {
    border-bottom: 1.1px solid #ffffff;
}
.copyright {
    font-size: 9.7px;
    margin-right: 9px;
    padding: 1px 0;
    text-align: right;
    color: #0055be;
}
.ticker, .ticker2 {
    display: inline-block;
    font-size: 10px;
    overflow: hidden;
    padding: 5px 40px 0;
    position: relative;
    text-align: left;
    width: 402px;
}
.ticker ul, .ticker2 ul {
    display: inline-block;
    position: relative;
    width: 100%;
}
.ticker ul li, .ticker2 ul li {
    display: none;
    height: 30px;
    line-height: 140%;
    width: 100%;
}
.showlist span {
    opacity: 0;
}
.ticker ul li a:hover, .ticker2 ul li a:hover {
    text-decoration: none;
}
.tickerTitle {
    left: 0;
    position: absolute;
}
.box.sessionSuccess {
    background-color: #0055be;
    color: #fff;
    display: block;
    font-size: 18px;
    height: auto;
    margin-left: -180px;
    margin-top: 0;
    padding: 10px 20px;
    top: 30px;
    width: 360px;
}
.box.sessionSuccess:hover {
    cursor: pointer;
    opacity: 0.8;
}
.unisaBox {
    font-size: 16px;
    margin: 0 0 0 242px;
    padding: 50px 0 30px;
    width: 954px;
}
.unisa_title {
    font-size: 30.8px;
    margin: 10px 0 60px;
}
.unisa_date {
    float: right;
    line-height: 22px;
    margin: 0 125px 35px 0;
}
.unisa_content {
    line-height: 22px;
    margin: 22px 0 23px;
}
.unisa_paragraph_indent {
    text-indent: 20px;
}
.unisa_content.n1 {
    margin-bottom: 3px;
    width: 203px;
}
.unisa_content.n2 {
    margin-bottom: 3px;
    width: 316px;
}
.unisa_item {
}
.unisa_headline {
    font-size: 21px;
    line-height: 180%;
    margin: 35px 0;
}
.unisa_left_indent {
    margin-left: 60px;
}
.mobile {
    display: none;
}
#application .footer_contentsBox {
    margin-top: 4px;
}
#application .upload_file {
    display: none;
}
#delay_image01 {
}
.capture_pc {
    left: 28%;
    top: 25% !important;
    width: auto !important;
}
.teppan_pc {
    left: 25%;
    top: 125px !important;
    width: 450px !important;
}
.senpai_pc {
    left: 36.5%;
    top: 11% !important;
}
.comming_soon img {
    width: 8.5% !important;
    top: 23.18% !important;
    left: 66.1% !important;
}
.popup-10-txt img {
    right: 319px !important;
    top: 283px !important;
    width: 137px !important;
}
.news_media {
    top: -10px;
}

.index_content.Num10 .desc_text {
    position: absolute;
    bottom: 9%;
    left: 7%;
    width: auto;
}

.index_ContentText {
	color:#468cd0;
}

.headerContents {
	color:#0055be;
}

.row {
    width: 100%;
    position: relative;
}
.row:after,.row:before {
    content: '';
    display: table;
}
.row:after {
    clear: both;
}
.business_groups {
    margin-top: 20px;
    padding-left: 3px;
}
.parts .part-left {
    width: 43.65%;
    margin-right: 1.5%;
    margin-bottom: 17px;
    float: left;
    overflow: hidden;
}

.parts .part-right {
    width: 47.1%;
    margin-right: 1.3%;
    margin-bottom: 17px;
    float: left;
    overflow: hidden;
}

.parts .part:last-child {
    margin-right: 0;
    width: 46.2%;
}

.parts:first-child .part:first-child img {
    /*padding-top: 5px;
    padding-left: 33px;*/
}
.parts:first-child .part:last-child  {
    padding-left: 0;
}
.parts:first-child .part:last-child img {
    padding-top: 11px;
}
.parts:nth-child(2) .part{
    height: 129px;

}
.parts:nth-child(2) .part:first-child {
    padding-left: 0;
    padding-top: 0;
    padding-right: 20px;
}
.parts:nth-child(2) .part:first-child img {
    margin-left: -4px;
    margin-top: -9px;
}
.parts:nth-child(2) .part:last-child {
    padding-right: 0;
    padding-bottom: 1px;
}
.parts:nth-child(2) .part:last-child img {
    padding-top: 8px;
    padding-left: 7px;
}
.parts:last-child .part-full {
    background: #f6f9fd;
    width: 90%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
    padding-right: 15px;
    margin-top: -1px;
    margin-bottom: -6px;
}
.parts:last-child .part-full img {
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 11px;
}

.parts-double .part-full {
    /*background: #f6f9fd;*/
    width: 92.15%;
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
    padding-right: 15px;
    margin-top: -5px;
    margin-bottom: -6px;*/
}
.parts-double .part-full img {
    /*margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 11px;*/
}

.read_more {
    cursor: pointer;
    position: absolute;
    right: 58px;
    bottom: 35px;
    padding-bottom: 5px;
    width: 100px;
}

.read_more img {
    position: absolute;
    top: 0px;
    right: -13px;
    width: 100% !important;
}
.font-special {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
}
.para {
    color: #0055be;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body#business .para {
    letter-spacing: 0.15em;
    line-height: 1.9em;
}

.para_title {
    margin-bottom: 0;
    letter-spacing: 7px;
}
body#business .para_title {
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size:26px;
}
.p_title {
    margin-bottom: 0;
    font-size: 24px;
    margin-top: 0;
}
.business_title {
    font-size: 27px;
    letter-spacing: 6.4px;
    font-weight: normal;
    margin: 0;
    padding-left: 6px;
    line-height: 47px;
}

/*
*
*/
.tellNumber {
    margin-right: -8px;
}
.btitle_new.font-special {
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
    padding-left: 3px;
}
.business_title {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -3px;
    line-height: 47px;
    margin-top: -19px !important;
    padding-left: 3px;
}
.business_groups {
    margin-top: 36px;
    padding-left: 3px;
}
.business_contentsHead {
    /*padding: 67px 0 0 2px;*/
    /*border-bottom: 2px solid #468cd0;*/
    margin-top: 15px;
    margin-left: -4px;
}
.p_title {
    padding-bottom: 2px;
}
.parattl1 {
    font-size: 26px;
    margin-top: -4px !important;
}
.para.para_1 {
    margin-top: -2px;
    padding-left: 2px;
}
.parattl2 {
    padding-top: 2px;
}
.parattl3 {
    margin-left: -3px;
    margin-top: -4px;
}
.para_3 {
    margin-top: -1px;
}
.parattl4 {
    font-weight: 300;
    letter-spacing: 0;
    margin-left: -3px;
}
.para_4 {
    margin-left: -2px;
    margin-top: -2px;
}
.section_2_title {
  padding-top: 34px !important;
  margin-left: -1px;
}
/*Company new logo and text 28-7-2016*/
.newLogoCon div.square {
    background-color: #468cd0;
    display: inline-block;
    height: 10px;
    margin-right: 3px;
    width: 10px;
}
.newLogoCon{
    color: #468cd0;
    font-size: 10px;
    letter-spacing: 2.8px;
    line-height: 195%;
    margin: 35px 0 2px;
    overflow: hidden;
    width: 100%;
}
.newLogoCon p {
    letter-spacing: 1.7px;
    margin: -4px 0 14px -7px;
    padding-bottom: 0;
}
.newLogoCon_left{
    float: left;
    padding: 0 0px 26px 1px;
    width: 296px;
    margin-top: -1px;
}
.newLogoCon_left a:hover{
    text-decoration:none;
}

.seezooLogo img{
    padding: 36px 0px 0px 0px;
    width: 28%;
}
.newLogoCon_middle{
    float: left;
    margin-top: -1px;
    padding: 0 19px 26px 0;
    width: 250px;
}

.newLogoCon_middle a:hover{
    text-decoration:none;
}

.ocHwLogo img{
    padding: 28px 0px 0px 0px;
    width: 82%;
    margin-left: -2px;
}
.newLogoCon_right{
    float: left;
    margin-top: -1px;
    padding: 0 58px 26px 0;
    width: 280px;
}
.poeredByOC img{
    padding: 52px 0px 0px 0px;
    width: 74%;
    margin-left: 1px;
}
.business_button:hover{
    transition: all 0.3s ease 0s;
    background-image: url("../img/pc_business/detail_button_arrow_hover.png"),url("../img/pc_business/detail_button_hover.png");
    background-repeat: no-repeat;
    background-size: 3.2%,100%;
    width: 400px;
    height: 39px;
    margin: 39px 0 92px 252px;
    background-position: 280px,100%;
}

.business_button{
    transition: all 0.3s ease 0s;
    background-image: url("../img/pc_business/detail_button_arrow.png"),url("../img/pc_business/detail_button.png");
    background-repeat: no-repeat;
    background-size: 3.2%,100%;
    width: 400px;
    height: 39px;
    margin: 39px 0 92px 252px;
    background-position: 270px,100%;
}